* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
background-color: white;
  width: 600px;
  margin: 100px 0px;
  padding: 30px;
  border-radius: 15px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 700;
}

.section-1 p {
  margin: 15px 0px;
  color: hsl(30, 10%, 34%);
}

img {
    width: 100%; 
    text-align: center; 
    border-radius: 15px; 
}

.section-2 {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  margin: 20px 0px;
}

.section-2 h2 {
  color: hsl(332, 51%, 32%);
  padding-bottom: 5px;
  font-size: 20px;
}

.section-2 ul {
  list-style: none;
  color: hsl(30, 10%, 34%);
  font-family: sans-serif;
}

.section-2 ul li::before {
  content: "•";
  color: hsl(332, 51%, 32%);
  padding: 0px 15px 0px 10px;
}

.section-2 span {
  font-weight: bold;
  display: inline-block;
  padding: 5px 0px 5px;
  color: hsl(30, 10%, 34%)
}

.section-3 {
  margin: 20px 0px;
}

.section-3 h2 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 15px;
}

.section-3 ul {
  list-style: none;
}

.section-3 li {
  padding: 5px;
  color: hsl(30, 10%, 34%);
}

.section-3 ul li::before {
    color: hsl(14, 45%, 36%);
    content: "•";
    padding: 0px 15px 0px 5px;
}

.section-4 {
  margin: 20px 0px;
}

.section-4 h2 {
  color: hsl(14, 45%, 36%);
  margin: 15px 0px;
}

.section-4 ol {
  padding-left: 5px;
}

.section-4 li {
  color: hsl(30, 10%, 34%);
  padding: 5px 10px;
}

.section-4 li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.section-4 span {
  display: inline-block;
  font-weight: bold;
  color: hsl(30, 10%, 34%)
}

.section-5 {
  margin: 20px 0px;
}

.section-5 h2 {
  color: hsl(14, 45%, 36%);
  margin: 15px 0px;
}

.section-5 p {
  color: hsl(30, 10%, 34%);
  margin: 15px 0px;
}

td {
  color: hsl(14, 45%, 36%);
}

table tr td:first-child {
  color: hsl(30, 10%, 34%)
}

table {
  width: 100%;
}

tr {
  width: 100%;
  border-bottom: 1px solid hsl(30, 10%, 34%);
  border-collapse: collapse;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;

}

.section-6 {
  font-size: 20px;
}

.section-6 a {
  background-color: hsl(14, 45%, 36%);
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px 5px;
  word-break: keep-all;
}
.section-6 p {
  display: inline-block;
  margin: 0px 0px 10px;
}

@media screen and (max-width: 650px) {
  main {
    margin: 0px;
  }

  .section-6 {
    font-size: 15px;
  }

  .section-6 a {
    margin: 0px 0px 5px 10px;
    display: inline-block;
  }
}
